<footer class="l-footer" id="footer">
  <div class="container">
    <a href="#" class="l-footer__logo">
      TNBLOG
    </a>
    <div class="l-footer__sns">
      <a href="#" class="l-footer__sns--icon -fb">
        <img src="/assets/images/svg/social/facebook.svg" alt="facebook">
      </a>
      <a href="#" class="l-footer__sns--icon -tw">
        <img src="/assets/images/svg/social/twitter.svg" alt="twitter">
      </a>
      <a href="mailto:user@dammy.com?body=お問い合わせ内容" class="l-footer__sns--icon -mail">
        <img src="/assets/images/svg/social/mail.svg" alt="mail">
      </a>
    </div>
    <p class="l-footer__copyright">
      Copyright © tnblog, All rights reserved.<br />
    </p>
  </div>

</footer>

</div>


<% let filePath = jsonData.pages[pageId].filePath %>

<!-- <script src="/assets/scripts/vendors/gsap.min.js"></script> -->
<!-- <script>
  var userAgent = window.navigator.userAgent.toLowerCase();

  if (userAgent.indexOf('msie') != -1 || userAgent.indexOf('trident') != -1) {
    window.location.href('https://www.google.com/?hl=ja')
  }
</script> -->

<!-- vendors -->
<script src="<%= filePath %>assets/scripts/vendors/jquery.min.js"></script>
<script src="<%= filePath %>assets/scripts/vendors/isotope.pkgd.min.js"></script>
<script src="<%= filePath %>assets/scripts/vendors/jquery.matchHeight-min.js"></script>
<script src="<%= filePath %>assets/scripts/vendors/intersection-observer.js"></script>
<script src="<%= filePath %>assets/scripts/vendors/swiper-bundle.min.js"></script>

<!-- scripts -->
<script src="<%= filePath %>assets/scripts/swiper.js"></script>
<script src="<%= filePath %>assets/scripts/function.js"></script>

<script src="<%= filePath %>assets/scripts/main.js"></script>

<!-- <% if (pageId === 'home'){ %>
<% } else if (pageId === 'about') { %>
<% } else if (pageId === 'work') { %>
<% } else { %>
<% } %> -->


</body>

</html>
